HOST=0.0.0.0
PORT=8080
DEBUG=False
SECRET=xxxx # 加密的key

SUPERUSERS=xxxx,xxxx # 管理员qq，逗号分隔
CAPTCHA_BACKEND="keras"

QUART_APP=run:app
QUART_DEBUG=True

API_URL=xxx # 后端 API 地址
WEB_URL=xxx # WEB 页面地址
RSSHUB_URL=xxx # RSSHUB 的地址

# 第三方服务相关
QQAI_APPID=xxx # 语音识别调用时候会用到
QQAI_APPKEY=xxx # 同上
GLOT_IO_TOKEN=xxx
T_CN_SOURCE=xxxx # 请求新浪短网址的 key

# cqhttp docker 启动相关
COOLQ_ACCOUNT=xxxxx # 要登陆的 QQ 号
VNC_PASSWD=xxx # vnc 密码

# 数据库相关信息
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=qqrobot
