HOST=0.0.0.0
PORT=8080
DEBUG=False
# 加密的key
SECRET=xxxx

# 管理员qq，逗号分隔
SUPERUSERS=xxxx,xxxx
CAPTCHA_BACKEND="keras"
# RSS 更新频率
SUBSCIBE_INTERVAL=600

QUART_APP=run:app
QUART_DEBUG=True

# 后端 API 地址
API_URL=xxx
# WEB 页面地址
WEB_URL=xxx 
# RSSHUB 的地址
RSSHUB_URL=xxx

# 第三方服务相关
# 腾讯AI 语音识别调用时候会用到
QQAI_APPID=xxx
QQAI_APPKEY=xxx
GLOT_IO_TOKEN=xxx
# 请求新浪短网址的 key
T_CN_SOURCE=xxxx

# cqhttp docker 启动相关
# 要登陆的 QQ 号
COOLQ_ACCOUNT=xxxxx
# vnc 密码
VNC_PASSWD=xxx

# 数据库相关信息
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=qqrobot
