.App {
  text-align: center;
  margin: 50px;
}

.qq_avatar {
  height: 140px;
  width: 140px;
  margin: 14px;
  pointer-events: none;
  border-radius: 50%;
  border: solid 2px #939393;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #61dafb;
  cursor: pointer;
}
