{
  "plugins": [["@babel/plugin-transform-runtime"]],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 2,
        "ignoreBrowserslistConfig": true // 目前还没弄懂package.json里的Browserslist
      }
    ],
    ["@babel/preset-react"]
  ]
}
