{
  "extends": ["react-app", "eslint:recommended"],
  "parser": "babel-eslint",
  "rules": {
    "jsx-a11y/anchor-is-valid": "off",
    "no-console": "off",
    "array-callback-return": "off",
    "no-unused-vars": "off"
  }
}
